// Animation and transitions
$transition1:            all 0.2s linear
$transition_none:        all 0s

=transition($transition)
  -webkit-transition: $transition
  -moz-transition: $transition
  -o-transition: $transition
  transition: $transition


// Shadows
$glow_white:      0 0 4px rgba(255, 255, 255, 0.8)
$blackoutline:    0 0 2px rgba(0, 0, 0, 0.6)
$shadow1:         0 0 10px rgba(0,0,0,1.0)

=box-shadow($shadow)
  -moz-box-shadow: $shadow
  -webkit-box-shadow: $shadow
  box-shadow: $shadow

=gradientbackground($color1, $color2)
  background-image: -webkit-linear-gradient(to bottom,$color1,$color2)
  background-image: -moz-linear-gradient(to bottom,$color1,$color2)
  background-image: -ms-linear-gradient(to bottom,$color1,$color2)
  background-image: -o-linear-gradient(to bottom,$color1,$color2)
  background-image: linear-gradient(to bottom,$color1,$color2)


// Mixin for link effect
=linkhover
  background:   ($brand-primary, 13.5%)
  color:        $white


// Selection color
=selection($color)
  ::selection
    background: $color

  ::-moz-selection
    background: $color

  ::-webkit-selection
    background: $color