// Navbar styling
.navbar-default .navbar-toggle
  margin-top:           13px
  background-color:     transparent
  background:           transparent
  background-image:     none
  border:               1px solid transparent
  border-radius:        2px
  border-color:         transparent!important
  +transition($transition1)

  &:hover,
  &:active,
  &:focus
    background-color:   $hover-background!important



// Logo
img.logo 
  width:  260px