// @import "bootstrap-compass"
@import "bootstrap-variables"
@import "effects"
@import "navbar"
// import content, navbar
@import "bootstrap"


// General settings and overrides
$body-bg: #ecf0f1
body a
  +transition($transition1)
  &:hover,
  &:focus
    text-decoration:  none

+selection(#0CAF60)

.center
  text-align:         center

.caret
  margin-top:         -3px

a.downloadlink
  font-weight:        700

  &:hover,
  &:active
    border-bottom:    2px solid $brand-primary

.shadow
  text-shadow:        $shadow1

// Hero section
header.hero 
  background:             url(../img/backgr_test.jpg) no-repeat
  background-size:        cover
  padding-bottom:         150px
  background-attachment:  fixed

h1.title,
h2.subtitle
  color:                  $white

.firstline
  font-size:              1.6em

.secondline
  font-size:              1.2em
  letter-spacing:         0.2em