.pagewrapper
  %header
    = render '_navbarmain.html.haml'

  %section.pagesection
    .container
      .row
        .col-md-3.hidden-sm
          = render '_sidebar.html.haml'
        .col-md-9
          %h4.pagetitle About us
          .pagecontent
            %p Much text. Very about.

  %footer= render '_footer.html.haml'