%section.explainer
  .row
    .col-md-12
      %img{:src => "img/stckst.svg", :alt => "Stackademy", :class => "explainerlogo"}/
    .col-md-6
      %h5.headinghtml Help section
      %p
        For starters, try to recreate the following page in HTML/CSS using
        %a{:href => "http://www.sublimetext.com/", :target => "blank"} SublimeText
    .col-md-6  
      %p
        If you get stuck, the following video tutorials can help
        %a{:href => "tutsplus.com/course/30-days-to-learn-html-and-css/", :target => "blank"} (via tutsplus.com)
      %ul.helplinklist
        %li.helplink
          %a{:href => "https://webdesign.tutsplus.com/courses/30-days-to-learn-html-css/lessons/lists", :target => "blank"} Lists on tutsplus
        %li.helplink
          %a{:href => "https://webdesign.tutsplus.com/courses/30-days-to-learn-html-css/lessons/ids-and-classes", :target => "blank"} IDs and classes on tutsplus
        %li.helplink
          %a{:href => "https://webdesign.tutsplus.com/courses/30-days-to-learn-html-css/lessons/floats-and-a-simple-layout", :target => "blank"} Float elements
