%section.explainer
  .row
    .col-md-12
      %img{:src => "img/stckst.svg", :alt => "Stackademy", :class => "explainerlogo"}/
    .col-md-6
      %h5.headinghtml Help section
      %p
        You should be able to recreate the following page in HTML/CSS using
        %a{:href => "http://www.sublimetext.com/", :target => "blank"} SublimeText
    .col-md-6  
      %p
        You can find more on these topics on
        %a{:href => "tutsplus.com/course/30-days-to-learn-html-and-css/", :target => "blank"} tutsplus.com
      %ul.helplinklist
        %li.helplink
          %a{:href => "https://webdesign.tutsplus.com/courses/30-days-to-learn-html-css/lessons/heading-tags", :target => "blank"} Header tags (h1, ...) on tutsplus
        %li.helplink
          %a{:href => "https://webdesign.tutsplus.com/courses/30-days-to-learn-html-css/lessons/images", :target => "blank"} Images on tutsplus
        %li.helplink
          %a{:href => "https://webdesign.tutsplus.com/courses/30-days-to-learn-html-css/lessons/anchors", :target => "blank"} Links and anchor tags
        %li.helplink
          %a{:href => "https://webdesign.tutsplus.com/courses/30-days-to-learn-html-css/lessons/an-introduction-to-forms", :target => "blank"} HTML forms
