.sitewrapper
  %a{:name => "top"}
  / header.hero carries the hero img
  %header.hero
    .gradient-overlay
    = partial '_navbarmain.html.haml'
    .container
      .row
        .herowrapper
          %h1.title.shadow
            Learn to code in Berlin
          %h2.subtitle.shadow
            Full time. Hands on.
          .titletext
            .announce.shadow
              Upcoming course
              .borderwrapper
                .borderbottom
            .nextcourse.shadow
              Web Application Development
              %br/
              with Ruby on Rails
            .nextcoursedate
              12 weeks, Jan. 12 - Mar. 28 2015
            .othercourses.shadow
              %a{:href => "faqs.html"} view all of our courses

  %section.container
    .row
      .col-md-6.imgcolumn
        .courseheading
          .firstline Web Application
          .secondline Development
      .col-md-6.textcolumn
        %ul.nobullets.coursefacts
          %li
            %span.highlight 12 weeks
            %span of Web Application Development
          %li Ruby on Rails
          %li JavaScript &amp; jQuery
          %li HTML/CSS3 and frontend frameworks
          %li.divider Monday to Friday, 9am to 5pm
          %li experienced instructor
          %li.price
            starting at EUR 5,950
            %span.vat incl. VAT
          %li.apply
            %a{:href => "apply.html", :class => "applylink"} Apply Now
            %span.divider.hidden-xs
            %a{:href => "faqs.html", :class => "detailslink hidden-xs"} Schedule and FAQs
            %a{:href => "faqs.html", :class => "detailslink hidden-sm hidden-md hidden-lg"} Schedule

      .col-md-12.center
        %p.introtext
          We teach you how to plan, build and deploy web applications: With us, you'll go from the basics all the way to building full-blown web applications with Ruby on Rails and a range of tools and technologies from frontend frameworks and databases to version control, testing, server setup and deployment.

    .row
      .col-md-12
        %h3.sectiontitle.center Our partners
      .col-md-12.center
        %p
          %a{:href => "http://www.betahaus.com/berlin", :target => "blank", :class => "partnerlink"}
            %img{:src => "img/betahaus.svg", :class => "partnerlogo", :alt => ""}/

  %section.container
    .row
      .col-md-12
        %h3.sectiontitle.center The road map - what we teach
      .col-md-12.text
        %p
          We don’t require previous programming experience and get you up to speed in the course: With new lessons and exercises every day, followed by time for practice and project work, you will be writing code every day of the week and put your skills to use in class projects.

    .row
      .col-md-12
        .curriculum.borderbottom.borderdark Curriculum
      .col-md-6
        %dl.contentlist
          %dd.week Introduction week
          %dd Introduction to web programming (Ruby and the Sinatra framework)
          %dd Introduction to Ruby on Rails development
          %dd.week Weeks 2 and 3
          %dd Ruby programming and web integration (HTTP, JSON and XML, API integration)
          %dd ActiveRecord and Rails forms, model-view-controller architecture
          %dd.week Weeks 4 and 5
          %dd Routes, cookies and sessions
          %dd JavaScript and jQuery, AJAX
      .col-md-6.pushdown
        %dl.contentlist
          %dd.week Weeks 6, 7 and 8
          %dd Advanced Ruby on Rails
          %dd SQL basics
          %dd Introduction to test-driven development
          %dd Rails and frontend development - HTML5, CSS frameworks
          %dd.week Weeks 9 and 10
          %dd Class project
          %dd Server and cloud platform deployment
          %dd.week Weeks 11 and 12
          %dd Personal project
          %dd Wrap-up

  / AddThis: PDF download and download icon

  %section.container
    .row
      .col-md-12
        %h3.sectiontitle.center Instructor
    .row
      .col-md-4.imgcolumn
        %img{:src => "img/edward.jpg", :alt => "Edward", :class => "mainimg"}/
      .col-md-8.textcolumn
        %p
          Our Web Application Development class is led by Edward McCaughan. With a degree in robotics and electrical engineering and several years of experience as a Ruby on Rails developer working on real-life applications and projects, Edward brings both an excellent theoretical understanding and practical experience to the course.
          %br/
          Edward has been teaching both beginner-level and advanced Ruby on Rails courses since 2013, and is a volunteer mentor at Rails Girls Berlin.

  %section.container
    .row
      .col-md-12
        %h3.sectiontitle.center Recruiting program
    .row
      .col-md-4.imgcolumn
        %img{:src => "img/replace.jpg", :alt => "recruiting", :class => "mainimg"}/
      .col-md-8.textcolumn
        %p
          We partner with Berlin companies that are looking for great talent to join them, and will further expand our recruiting program in the future. In any case, we are happy to get you in touch with our partners, and should you pass the hiring interviews and join one of them full-time, we will sweeten the deal and refund EUR 1,000.- of your tuition. If you are a company looking for ambitious new talents, in particular junior Rails developers, contact Jonas Knipper for more at
          <script type="text/javascript">eval(unescape("%75%72%67%79%75%30%33%3d%5b%27%25%36%38%25%36%39%25%37%32%25%36%35%27%2c%5b%27%25%36%33%25%36%66%25%36%64%27%2c%27%25%37%33%25%37%34%25%36%31%25%36%33%25%36%62%25%36%31%25%36%34%25%36%35%25%36%64%25%37%39%27%5d%2e%72%65%76%65%72%73%65%28%29%2e%6a%6f%69%6e%28%27%2e%27%29%5d%2e%6a%6f%69%6e%28%27%40%27%29%3b%74%70%78%79%6e%35%35%3d%75%6e%65%73%63%61%70%65%28%75%72%67%79%75%30%33%29%3b%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%74%70%78%79%6e%35%35%2e%6c%69%6e%6b%28%27%6d%61%69%27%2b%27%6c%74%6f%3a%27%2b%75%72%67%79%75%30%33%29%29%3b"));</script>

  %section.container
    .row
      .col-md-12
        %h3.sectiontitle.center Berlin
    .row
      .col-md-4.imgcolumn
        %img{:src => "img/placeholder1.png", :alt => "Berlin"}/
      .col-md-8.textcolumn
        %p
          Berlin is a city with rich history and a colorful present, and very easy to get comfortable in for international visitors. Startups are a big thing here, so chances are, you'll feel right at home, meet great people and discover a city that is unlike any other.
        %p
          We can help you find accommodation in Berlin, if
          %a{:href => "http://www.wimdu.com/berlin"} Wimdu
          ,
          %a{:href => "https://www.airbnb.com/s/Berlin--Germany"} Airbnb
          , and
          %a{:href => "http://www.9flats.com/us/berlin"} 9flats
          don't do the trick.
        %p
          As an EU citizen, you can generally live and work in Berlin freely. Citizens of many other countries such as the United States, Canada and Israel can enter and stay in the EU for up to 90 days without a visa, which will suffice for the course, and may be able to extend their stay to a total of six months if looking for work even after their arrival. (The German Federal Foreign Office has more information on its
          %a{:href => "http://www.auswaertiges-amt.de/EN/EinreiseUndAufenthalt/Visabestimmungen_node.html"} website
          )
          %br/
          Please make sure you know the requirements for your specific situation and contact us and the German embassy in your country when in doubt. Also let us know if you need assistance with German-language forms or requests.
          %br/
          Note that you will generally not be allowed to take on any kind of work in Berlin during your stay. However, should you seek a position in Berlin after the conclusion of the course and get hired, you will find that many employers are able to assist in the process of getting all necessary documentation for a longer-term residency as a non-EU citizen.

  %section.container
    .row
      .col-md-12.cushion
        .cta.highlightfont Take the red pill
        .applybutton
          %a{:href => "apply.html", :class => "applylink"} Apply Now

  .emailwrapper
    %section.dist#newsletter
      .container
        .row
          .col-md-12
            .emailsignup
              %p.newslettertitle Get news from us on upcoming courses
              %fieldset.newsletter
                #mc_embed.signup
                  %form{:action => "//stackademy.us4.list-manage.com/subscribe/post?u=eb73bde3996374533e101ff3c&amp;id=d406f69d8b", :method => "post", :id => "mc-embedded-subscribe-form", :name => "mc-embedded-subscribe-form", :class => "validate", :target => "_blank", :novalidate => "true"}
                    .mc-field-group
                      %input{:type => "email", :class => "required email", :placeholder => "ENTER YOUR EMAIL ADDRESS", :value => "", :name => "EMAIL", :id => "mce-EMAIL"}
                      %input{:type => "submit", :class => "colorbutton", :value => "Sign up", :name => "subscribe", :id => "mc-embedded-subscribe"}
                    #mce-responses.clear
                      .response#mce-error-response{:style => "display:none"}
                      .response#mce-success-response{:style => "display:none"}

  %section.container
    .row
      .col-md-12.cushion
        .press
          %h3.sectiontitle.center Read about us on
          .col-md-4.col-md-offset-2
            %a{:href => "http://venturevillage.eu/the-7-best-ways-to-learn-how-to-code"}
              %img{:src => "img/vv.png", :alt => "VentureVillage", :class => "pressmention venturevillage"}/
          .col-md-4
            %a{:href => "http://blog.careerfoundry.com/20-ways-to-learn-how-to-code-3/"}
              %img{:src => "img/cf.png", :alt => "CareerFoundry", :class => "pressmention careerfoundry"}/

  = partial '_footer.html.haml'
